Flask==3.0.3
gunicorn==22.0.0
itsdangerous==2.2.0
Werkzeug==3.0.3
PyJWT==2.8.0
qrcode==7.4.2
Pillow==10.4.0
cryptography==42.0.8
pandas==2.1.4
numpy==1.26.4
reportlab==4.2.2
openpyxl==3.1.5